body{
font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(images/wrapperbg.png), url(images/bg.png);
    background-repeat: no-repeat, repeat;
    background-attachment: fixed, fixed;
    background-position: center, center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 150px;
}

#headline{
    display: inline-block;
    position: absolute;
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    margin-top: 300px;
    margin-left: 460px;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

#text{
    display: inline-block;
    position: absolute;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    margin-top: 600px;
    margin-left: 300px;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

img[alt=Pinguin]{
        display: inline-block;
        position: absolute;
        margin-left: 550px;
        margin-top: 700px;
}

img[alt=Muscheln]{
    display: inline-block;
    position: absolute;
    margin-left: -500px;
    margin-top: 800px;
}
