body{
    background-image: url("images/bg.png");
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.container{
    position: relative;
    color: whitesmoke;
    margin: 0 auto;
    width: 700px;
}

.headline2{
    font-size: 20pt;
    color: whitesmoke;
    font-weight: bolder;
    position: absolute;
    top: 45%;
    left: 40.5%;
    transform: translate(-50%, -50%);
}

.text{
    font-size: 10pt;
    color: whitesmoke;
    position: absolute;
    top: 58%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.social{
    position: absolute;
    top: 79%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.social:hover{
    opacity: 0.5;
}

.images{
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
}

.headline1{
    font-size: 110pt;
    color: whitesmoke;
    letter-spacing: -10px;
    font-weight: bolder;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navibereich{
/*display: inline block;*/
background-color: black;
position: fixed;
right: 0;
top: 0;
border-radius: 10px 10px 10px 10px;
padding: 5px 10px 5px 5px;
}

.circle {
    position: relative;
    display: inline-block;
    margin: -20px;
    width: 700px;
    margin-bottom: 50px;
}

.navibereich a{
    color: white;
    text-decoration: none;
    font-size: small;
    padding: 5px 10px;
}

a:hover{
color: steelblue;
}

a.active{
    color: steelblue;
    text-decoration: underline;
}

a.activepage{
    color: steelblue;
    font-weight: bolder;
}

#navi1{
border-right: solid 1px white;
}

#navi2{
border-right: solid 1px white;
}

/* ab hier ausschließlich About Me */

#portrait{
position: relative;
margin-bottom: 50px;
}

/* ab hier ausschließlich Contact */

#kontakt{
    color: steelblue;
    display: block;
    font-weight: bold;
    margin-top: 50px;
    margin-left: -835px;
}

.form{
    margin-top: 20px;
    margin-left: -700px;
    }
    
    #Vorname, #Nachname, #Email{
        background-color: whitesmoke;
        font-size: 9pt;
        width: 200px;
        padding: 5px 5px 5px 5px;
        margin-left: -50px;
    }
    
    #Nachricht{
        background-color: whitesmoke;
        font-size: 9pt;
        width: 350px;
        padding: 5px 5px 20px 5px;
        margin-left: 100px;
    }
    
    #absenden{
        background-color: whitesmoke;
        color: black;
        font-size: 9pt;
        width: 70px;
        padding: 5px 5px 5px 5px;
        margin-left: -200px;
    }
    
    ::placeholder{
        color: black;
    }
    
    .Datenschutz{
        font-size: 9pt;
        color: grey;
        margin-left: 50px;
    }
    
    input{
        display: inline-block;
        margin-bottom: 10px;
    }