body{
    font-family: Helvetica;
	font-size: small;
	background: #000000;
}

.buttons{
    display: left;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 15px;
    text-align: center;
}

#button1{
    background-color: #3c94f6;
    background-image: linear-gradient(#3d93f6,#2167d4);
    border: none;
    padding: 100px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
}

#button2 {
    background-color: #3c94f6;
    background-image: linear-gradient(#3d93f6,#2167d4);
    border: none;
    padding: 100px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
}

#button3 {
    background-color: #3c94f6;
    background-image: linear-gradient(#3d93f6,#2167d4);
    border: none;
    padding: 100px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
}

#button4 {
    background-color: #ff5ab0;
    background-image: linear-gradient(#ff5ab0,#f00a81);
    border: none;
    padding: 100px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
}

#button5 {
    background-color: #ff5ab0;
    background-image: linear-gradient(#ff5ab0,#f00a81);
    border: none;
    padding: 100px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
}
#button6 {
    background-color: #ff5ab0;
    background-image: linear-gradient(#ff5ab0,#f00a81);
    border: none;
    padding: 100px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
}

#button7 {
    background-color: #ff5ab0;
    background-image: linear-gradient(#ff5ab0,#f00a81);
    border: none;
    padding: 100px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
}
#button8 {
    background-color: #f6a23d;
    background-image: linear-gradient(#f6a23d, #c96a05);
    border: none;
    padding: 100px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
}

#button9 {
    background-color: #f6a23d;
    background-image: linear-gradient(#f6a23d, #c96a05);
    border: none;
    padding: 100px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
}
#play {
    cursor: pointer;
    color: #3c94f6;
    text-align: center;
    font-size: 75px;
    margin-top: 15px;
    padding: 15px;
}

#micro {
    cursor: pointer;
    color: #ff5ab0;
    text-align: center;
    font-size: 75px;
    margin-top: 15px;
    padding: 15px;
}

#delete {
    cursor: pointer;
    color: #f6a23d;
    text-align: center;
    font-size: 75px;
    margin-top: 15px;
    padding: 15px;
}

#play:hover {
    opacity: 0.6;
}
#micro:hover {
    opacity: 0.6;
}
#delete:hover {
    opacity: 0.6;
}

#button1:hover {
    background-color: #275e9c;
    background-image: linear-gradient(#275e9c,#003488);
}

#button2:hover {
    background-color: #275e9c;
    background-image: linear-gradient(#275e9c,#003488);
}

#button3:hover {
    background-color: #275e9c;
    background-image: linear-gradient(#275e9c,#003488);
}

#button4:hover {
    background-color: #973568;
    background-image: linear-gradient(#973568,#970551);
}

#button5:hover {
    background-color: #973568;
    background-image: linear-gradient(#973568,#970551);
}

#button6:hover {
    background-color: #973568;
    background-image: linear-gradient(#973568,#970551);
}

#button7:hover {
    background-color: #973568;
    background-image: linear-gradient(#973568,#970551);
}

#button8:hover {
    background-color: #a76e28;
    background-image: linear-gradient(#a76e28, #884804);
}

#button9:hover {
    background-color: #a76e28;
    background-image: linear-gradient(#a76e28, #884804);
}